/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Common */
.bg-blue {
  background-color: #0061ff;
}

.white-text {
  color: white;
}

.btn {
  padding: 2px;
  border-radius: 0px;
  text-decoration: none;
  width: 53px;
  text-align: center;
}

.container {
  width: 65%;
  /* display: flex;
  justify-content: flex-start; */
  margin: 0 auto;
}

/* Header */
header {
  background-color: white;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 67px;
}

.head-container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-container ul {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.head-container li {
  display: flex;
  padding-left: 20px;
}

.head-container .right {
  padding-right: 25px;
}

/* main */
main {
  margin-top: 67px;
}

.jumbo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #b4d0e7;
  flex-direction: column;
}

.title {
  display: flex;
  flex-wrap: wrap;
  width: 79%;
  font-size: 50px;
  align-self: center;
  margin-top: -250px;
  position: relative;
  left: 4%;
}

.jumbo article {
  font-size: 17px;
  width: 22%;
  display: flex;
  margin-left: 227px;
  padding-top: 40px;
}

.scarica {
  margin-left: 227px;
  position: relative;
  top: 34px;
}

.scarica span {
  position: absolute;
  top: 70px;
  font-size: 43px;
}

.scarica img {
  width: 58%;
  position: absolute;
  left: 29%;
  bottom: -1600%;
}

.section-title {
  display: flex;
  justify-content: flex-start;
  margin-top: 13%;
  width: 100%;
  /* margin-left: 22%; */
  font-size: x-large;
}

.radio {
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 4%;
  justify-content: start;
}

.left-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  text-align: center;
  margin-top: 25px;
  border: solid 1px black;
  width: calc(100% / 3.17);
  height: 600px;
}

.card span {
  position: relative;
  top: 12.5px;
}

.card hr {
  position: relative;
  top: 22.3px;
}

.card-text {
  padding-left: 7%;
  width: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: initial;
}

.card-text h2 {
  padding-top: 25%;
}

.card-text h3 {
  padding-top: 7%;
}

.card-text span {
  padding-top: 10%;
}

.card #firstspan {
  padding-top: 20%;
}
.btn-span {
  padding-top: 15%;
}