/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Common */
.bg-blue {
  background-color: #0061ff;
}

.white-text {
  color: white;
}

.btn {
  padding: 2px;
  border-radius: 0px;
  text-decoration: none;
  width: 53px;
  text-align: center;
}

.bordered-btn {
  text-decoration: none;
  padding: 7px;
  background-color: white;
  border: solid 2px black;
  color: black;
  font-size: medium;
}

.container {
  width: 65%;
  /* display: flex;
  justify-content: flex-start; */
  margin: 0 auto;
}

/* Header */
header {
  background-color: white;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 67px;
}

.head-container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-container ul {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.head-container li {
  display: flex;
  padding-left: 20px;
}

.head-container .right {
  padding-right: 25px;
}

/* main */
main {
  margin-top: 67px;
}

.jumbo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #b4d0e7;
  flex-direction: column;
}

.title {
  display: flex;
  flex-wrap: wrap;
  width: 79%;
  font-size: 50px;
  align-self: center;
  margin-top: -250px;
  position: relative;
  left: 4%;
}

.jumbo article {
  font-size: 17px;
  width: 22%;
  display: flex;
  margin-left: 227px;
  padding-top: 40px;
}

.scarica {
  margin-left: 227px;
  position: relative;
  top: 34px;
}

.scarica span {
  position: absolute;
  top: 70px;
  font-size: 43px;
}

.scarica img {
  width: 58%;
  position: absolute;
  left: 29%;
  bottom: -1600%;
}

.section-title {
  display: flex;
  justify-content: flex-start;
  margin-top: 13%;
  width: 100%;
  /* margin-left: 22%; */
  font-size: x-large;
}

.radio {
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 4%;
  justify-content: start;
}

.left-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  text-align: center;
  margin-top: 25px;
  border: solid 1px black;
  width: calc(100% / 3.17);
  height: 1000px;
}

.card span {
  position: relative;
  top: 12.5px;
}

.card hr {
  position: relative;
  top: 22.3px;
}

.card-text {
  padding-left: 7%;
  width: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: initial;
}

.card-text h2 {
  padding-top: 25%;
}

.card-text h3 {
  padding-top: 7%;
}

.card-text span {
  padding-top: 10%;
}

.card #firstspan {
  padding-top: 20%;
}

.btn-span {
  padding-top: 15%;
}

.btn-span a {
  line-height: 50px;
}

.btn-span span {
  position: relative;
  top: 0;
  margin-left: -19%;
  margin-right: 2%;
}

.hr-card {
  position: relative;
  text-align: center;
  margin-top: 7.5%;
  width: 100%;
  height: 170px;
  border: solid 1px black;
}

.hr-card i {
  padding-top: 1%;
}

.hr-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 53%;
  text-align: initial;
  padding-left: 3%;
  height: 70%;
}

.hr-card-btn {
  width: 40%;
  position: absolute;
  right: -9%;
  top: 40%;
}

.middle-container {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partner-img {
  background-image: url(img/partner.png);
  background-size: cover;
  /* background-color: #0061ff; */
  width: 35%;
  height: 500px;
}

.partner-text {
  font-size: x-large;
  /* background-color: blanchedalmond; */
  width: 25%;
  height: 400px;
  padding: 30px;
}

.business-cards-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 72%;
  height: 10px;
  margin-top: 10%;
  font-size: xx-large;
}

.business-cards-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  height: 10px;
  margin-top: 15%;
  font-size: xx-large;
  position: absolute;
  left: 9%;
}

.business-cards-container {
  padding: 12px;
  justify-content: center;
  margin-top: 7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.business-cards {
  /* z-index: 1; */
  /* position: relative; */
  /* display: flex;
  justify-content: flex-end; */
  border-radius: 15px;
  /* margin-top: 45.5px; */
  width: calc(100% / 3.5);
  height: 500px;
  /* background-color: lightgray; */
  transition: box-shadow .3s;
  padding: 20px;
  font-weight: bold;
}

.business-cards:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.img-bg {
  margin-bottom: 7%;
  background-image: url(img/business-feature-switching-tools.png);
  background-size: 81% 280px;
  background-repeat: no-repeat;
  width: 100%;
  height: 230px;
}

.business-cards h2 {
  font-size: xx-large;
}

.business-cards article {
  margin-top: 7%;
}

.partners {
  display: flex;
  flex-direction: row;
  margin-top: 21%;
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
}

.squares-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  height: 100%;
  background-color: #0061ff;
}

.middle-square {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #f5f5f5;
  transition: box-shadow .3s;
}

.middle-square img {
  width: 160px;
  height: 100px;
}

.middle-square hr {
  border: solid 1px lightgray;
  width: 4%;
  display: flex;
  align-self: center;
  position: absolute;
  left: 28%;
  margin-bottom: 5%;
}

.squares {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: calc(100% / 2);
  height: calc(100% / 2); */
  width: 50%;
  height: 50%;
  transition: box-shadow .3s;
}

.squares:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.middle-square:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.squares img {
  filter: invert(1);
  width: 70%;
  height: 70%;
}